
:root {
    --color-light-grey: rgba(170, 170, 170, 0.75); 
    --color-lighter-grey: #a1a1a1;
    --color-dark-grey: #4b4b4b;
    --color-black: #1d1f20;
    --color-transparent-black: rgba(30, 30, 30, 0.95);
    --color-white: #f0f0f0;
    --color-orange: #f35626;
    --color-yellow: #feab3a;
    --color-rose: #e73c7ed3;
}

body {
    background-size: 100vh 100vw;
    background-color: var(--color-dark-grey); 
    margin: 0; 
}

#page-wrapper {
    position: relative;
}
#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: 99.7%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-color: var(--color-white);
    background-color: var(--color-transparent-black);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end
}

#header-img {
    max-width: 100px;
    max-height: 100px;
    padding: 1px;
}

h1 {
    margin: 0px;
    padding-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--color-orange);
    background-image: -webkit-linear-gradient(92deg, var(--color-orange), var(--color-yellow));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 15s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
      }
      to {
        -webkit-filter: hue-rotate(-360deg);
      }
}

#nav-bar {
    font-weight: 400;
    font-size: 1.25rem;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    flex-grow: 1;
    max-width: 60vw;
    justify-content: flex-end;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    color: var(--color-lighter-grey);
    text-decoration: none;
}
  
  @media (max-width: 650px) {
    ul {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    nav link {
      padding-bottom: 5px;
    }
  }

h2 {
    margin-top: 160px;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--color-white);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#accessibility {
    display: flex;
    justify-content: center;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
 
}

.product {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 1px;
}

h3 {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--color-lighter-grey);
}

ol {
    text-decoration: none;
    text-align: justify;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 180;
    letter-spacing: 1px;
    color: var(--color-white);
}

li {
    text-decoration: none;
}
#silver {
    color: var(--color-lighter-grey);
    border: 1px solid;
    border-color: var(--color-lighter-grey);
    border-radius: 5px;
    padding: 5px;
}

#gold {
    color: var(--color-yellow);
    border: 1px solid;
    border-color: var(--color-yellow);
    border-radius: 5px;
    padding: 5px;
}

#platinum {
    border: 1px solid;
    border-color: var(--color-white);
    border-radius: 5px;
    padding: 5px;
}

.button {
    font-size: 1rem;
    background-color: var(--color-rose);
    border: 1px solid var(--color-white);
     border-radius: 5px;
}

#support {
    display: flex;
    justify-content: center;
}

#form {
    display: flex;
    text-align: center;
    width: 40%;
    margin: 0;
    padding: 5rem 0 3rem 0;
}

#email {
    height: 1.8rem;
    font-size: 0.8rem;
    border: 1px solid var(--color-lighter-grey);
    flex-grow: 1;
}

::placeholder {
    text-align: center;
}

#submit {
    font-size: 1rem;
    background-color: var(--color-rose);
    border: 1px solid var(--color-white);

}

