
:root {
    --color-light-grey: rgba(170, 170, 170, 0.75); 
    --color-lighter-grey: #a1a1a1;
    --color-dark-grey: #4b4b4b;
    --color-black: #1d1f20;
    --color-transparent-black: rgba(30, 30, 30, 0.75);
    --color-white: #f0f0f0;
    --color-orange: #f35626;
    --color-yellow: #feab3a;
}

body {
    background-size: 400% 400%;
    background-color: var(--color-dark-grey);
    
}

.logo {
    display:flex;
    flex-direction: row;
    border: 1px solid;
    border-color: var(--color-white);
    background-color: var(--color-transparent-black);
}

#header-img {
    max-width: 100px;
    max-height: 100px;
    padding: 1px;
}

h1 {
    margin: 0px;
    padding: 0 2rem 2rem 5px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2.2em;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--color-orange);
    background-image: -webkit-linear-gradient(92deg, var(--color-orange), var(--color-yellow));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 15s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
      }
      to {
        -webkit-filter: hue-rotate(-360deg);
      }
}

#nav-bar {
    flex-grow: 1;
    justify-content: flex-end;

}

a {
    color: var(--color-lighter-grey);
    text-decoration: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
}
 
ul {
    display: inline-flex;
    margin: 0;
    padding-right: 2rem;
    list-style: none;
}

li {
    font-size: 1.25em;
    padding: 0.75rem 1rem 0 1rem;
    color: var(--color-white);
}

